extends layout

block content
	.content
		.game
			canvas#tank(width='600', height='600')
			script(type='text/javascript', data-main='js/main.js', src='js/require.js')
			img#brick(src='assets/images/brick.png', style='display:none;')
			img#border(src='assets/images/border.png', style='display:none;')
		#display_text

  
