extends layout

block content
	h1= title
	p Welcome to this awesome #{title}
	.content
		.game
			canvas#tank(width='600', height='400')
			script(type='text/javascript', data-main='js/main.js', src='js/require.js')

  
