@font-face {
    font-family: PixelEmulator;
    src: url("./PixelEmulator.woff") format("woff"),
            url("./PixelEmulator.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
  