
#display_text {
	font-family: PixelEmulator;
	font-size:40px;
	color: white;
	text-align: center;
	position: absolute;
    top: 375px;
	left: 0;
	right: 0;
}
.display_text__1player {
	color: white;
    display: inline-block;
}
.display_text__1player:hover {
    color:rgb(249,251,68);
    cursor: pointer;
}
.display_text__2player {
	color: white;
    display: inline-block;
}
.display_text__2player:hover {
    color:rgb(249,251,68);
    cursor: pointer;
}
#win:hover {
    color:rgb(249,251,68);
    cursor: pointer;
}

.controls__content {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 9px;
}
.controls__icon {
    display: inline-block;
    border: solid 1px white;
    border-radius: 50px;
    padding: 0px 5px;
    margin-top: 40px;
    font-size: 16px;
}
/* The Modal */
#instructions_modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.instructions_modal__content {
	font-family: PixelEmulator;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 12px;
    width: 450px;
}

.instructions_modal__heading {
	color: red;
}

#instructions_modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#instructions_modal__close:hover,
#instructions_modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}