.display_text__multiplayerMenu {
    max-width: 300px;
    height: 60px;
    background-color: rgba(114, 114, 114, 0.79);
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 12px;
}
#mpName {
    width: 80%;
    height: 30px;
    border: solid 1px;
    padding: 0px 6px;
    border-color: white;
    border-radius: 6px;
}
#mpColor {
    width: 40%;
    height: 30px;
    margin: 10px 10px 10px 0;
    border-radius: 6px!important;
}
#mpSubmit {
    width: 35%;
    height: 30px;
    border: solid 1px;
    background-color: white;
    border-color: white;
    border-radius: 6px;
}
#mpS {
    min-width:200px;
}
.mpS__user {
    	border-top: 2px solid white;
    	padding-top:4px;
    	width:100%;
}
.mpS__score, .mpS__lives {
	display:inline-block;
	padding-right:7px;
}
.mpS__user, .mpS__score, .mpS__lives span {
    font-size:10px;
    display:block;
    width:100%;
}